<ul>
    <li>Username: {{username}}</li>
    <li>First Name: {{firstName}}</li>
    <li>Last Name: {{lastName}}</li>
    <li>Profession: {{profession}}</li>
    <li>Bio: {{bio}}</li>
</ul>
<a href="/logout">Logout</a>